<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <h2>Contact on this number 18001100</h2>
        {{>footer}}
    </body>
</html>